.container {
    margin-top: 60px;
    margin-bottom: 30px;
}

.container-buscas {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 1rem;
}

@media only screen and (max-width: 451px){
    .container{
       margin-top: 120px;
    }
}

@media only screen and (max-width: 770px){
    .container-buscas{
        display: flex;
        flex-direction: column;
    }
}